<h1>Dashboard</h1>
<form action="/update" method="POST" enctype="multipart/form-data">
  <label>Name:</label><br>
  <input type="text" name="name" value="<%= user.name %>"><br>
  
  <label>Bio:</label><br>
  <textarea name="bio"><%= user.bio %></textarea><br>

  <label>Links (Label|URL per line):</label><br>
  <textarea name="links">
<% user.links.forEach(l => { %><%= l.label %>|<%= l.url %>
<% }) %></textarea><br>

  <label>Profile Image:</label><br>
  <input type="file" name="profileImg"><br><br>

  <button type="submit">Update</button>
</form>
<a href="/logout">Logout</a>
<p>Your public page: <a href="/u/<%= user.username %>">evolu.space/u/<%= user.username %></a></p>
